@* 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPhoto</title>
</head>
<body>
    <h1 align="center">
        <img src="@Url.Content("~/Images/"+@ViewBag.Img)" />
    </h1>
</body>
</html>
 *@


@{
    // Layout = "MultiplePages";
}

    <h1 align="center">
        <img src="@Url.Content("~/Images/"+@ViewBag.Img)" />
    </h1>

