
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MultiplePages</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel=" stylesheet" />
</head>
<body>
    @RenderBody();
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Validation",false)
</body>
</html>
